<div class="page-width" data-section-id="{{ section.id }}" data-section-type="reset-password">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="form-message form-message--error hide" id="ResetError">
        {{ form.errors | default_errors }}
      </div>

      <div class="form-vertical">
        {% form 'reset_customer_password' %}
          <h1>{{ 'customer.reset_password.title' | t }}</h1>
          <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

          <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
          <input type="password"
            name="customer[password]"
            id="ResetPassword"
            class="input-full{% if form.errors contains 'password' %} input--error{% endif %}">

          <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input type="password"
            name="customer[password_confirmation]"
            id="PasswordConfirmation"
            class="input-full{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

          <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
        {% endform %}
      </div>
    </div>
  </div>

  {% for block in section.blocks %}
    {% case block.type %}
      {% when '@app' %}
        {% render block %}
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": {
    "en": "Reset password"
  },
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %} 